h1 {
	color: springGreen;
	font-family: : "Times New Roman", Georgia, sans-serif;

}
p {
	background-color: springGreen;
}
h3 {
	color: maroon;

}

#gold {
	color: gold;
	font-family: : "Times New Roman", Georgia, sans-serif;
	background-color: black;
}